
<div class="dashed_border for_button">
  <div class="btn_payment_card"><a class="button medium outline"><%= label_tag t('spree.gift_cards.pay_with_gift_card') %></a></div>
  <div class="open_payment_card">
    <br>
    <div class="column large coupon__block">
      <%= label_tag t('spree.gift_cards.redemption_code') %>
      <%= text_field_tag 'redemption_code', nil, {size: 19, maxlength: 19, placeholder: Spree.t('gift_cards.redemption_code')} %>
    </div>

    <div class="clear"></div>
    <%= button_tag Spree.t('gift_cards.redeem'), name: 'redeem_gift_card', class: 'button small outline', id: 'redeem_gift_card' %>
    <p class="message" style="display: none;"></p>
  </div>
  <% if @order.could_use_store_credit? || @order.using_store_credit? %>
      <br>
      <div class="column large coupon__block">
        <label><%= Spree.t("gift_cards.gift_cards") + " : #{@order.display_total_available_store_credit}" %><%= "(#{@order.total_applied_store_credit})" if @order.total_available_store_credit.zero? %></label>
        <p class="field checkbox" data-hook="use_billing">
          <%= hidden_field_tag "apply_store_credit", -1, :id => "hidden_apply_store_credit" %>
          <%= check_box_tag "apply_store_credit", '1', 0 %>
          <label id="order_use_store_credit" class="custom-checkbox" for="apply_store_credit">
            <span></span>
            <%= t('spree.gift_cards.use_my_credit') %>
          </label>
        </p>
      </div>
      <br>
  <% end %>

</div>

<script>
    Spree.redeemGiftCard = function() {
        var redemption_code = $("#redemption_code").val().trim();
        var data = {'redemption_code': redemption_code};
        if (redemption_code == '') {
            Spree.handleMessage('error', 'Gift Card Code can not be blank.');
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "redeem",
            dataType: 'json',
            data: data,
            success: function (data) {
                console.log(data);
                if (data.status == 'success') {
                    window.location.reload();
                }
            },
            error: function (data) {
                data = $.parseJSON(data.responseText);
                Spree.handleMessage('error', data.error_message);
            }
        });
    };

    Spree.handleMessage = function(status, message) {
        var selector = $('.message');
        console.log(message);
        selector.attr('style', '').html('');
        if (status == 'success') {
            selector.attr('style', 'color:green;');
        } else if (status == 'error') {
            selector.attr('style', 'color:red;');
        }

        selector.html(message).show().fadeOut(1000);
    };

    $(document).ready(function() {

        $('a#use_gift_card').click(function() {
            $('#gift_card_fields').toggle();
        });

        $('#redeem_gift_card').click(function(e) {
            e.preventDefault();
            Spree.redeemGiftCard();
        });
    });
</script>
